@media (max-width: 767px) {
	.hero {padding: 0px 0;}
	.stats{position: relative; background: #fff;   margin-top: 0px;}
	.aboutsection { padding: 30px 0;}
/*banner txt section start here*/
.carousel-caption {top: 5px; left: 0px; right: 0;}
.hero h1 {font-size: 15px;}
.banner-des { padding: 0px 0; font-size: 12px; margin-top: 0px!important; display: none;}
.carousel-control-prev {left: 6px;}
.carousel-control-next {right: 6px;}
/*banner txt section end here*/

  .about-image img {border-radius: 0 0 0px 0; width: 100%; padding-bottom: 30px;}
  .about-image::after{background: none;}
.about-ul {grid-template-columns: 1fr;}
.service-section::before {background: none;}
.service-box{min-height: auto;}
.heading-sec{padding: 20px 0;}
.legal-ul {margin-bottom: 30px;}
.accuracy-right{padding: 30px 0 0 0;}
.testimonial-section .card-box {background: #e3ecff; min-height: auto; padding: 13px 10px}
.contact-box {padding: 0 0px;}


}


@media screen and (min-width: 768px) and (max-width: 1100px) {
.contact-box {
  padding: 0 0px;
}
.about-right-txt {
  font-size: 0.875rem;
  padding: 30px 0;
}

}

@media screen and (min-width: 768px) and (max-width: 991px) {

}
@media screen and (min-width: 992px) and (max-width: 1199px) {
.testimonial-section .card-box {background-size: 100% 364px;}
.legal-ul li a {padding: 5px 10px;}

}

@media screen and (min-width: 1400px) and (max-width: 2000px) {

}